# Maven target directory
/target/

# Eclipse specific files
.classpath
.project
.settings/

# IDEA specific files
.idea/
*.iml

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Maven specific files
mvnw
mvnw.cmd
